# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
venv/
.envrc
.venv/

# Jupyter
.ipynb_checkpoints/

# Models
models/
*.joblib
*.pkl

# Logs
logs/
*.log

# Mac / Linux
.DS_Store

# IDE
.vscode/
.idea/

# Coverage
htmlcov/
.coverage
.pytest_cache/
.mypy_cache/

/artifacts
